@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 300; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-text {
  font-family: 'Turret Road', sans-serif;
}

.ant-btn {
  text-transform: uppercase;
  font-weight: 400;
}

.ant-btn,
.ant-input {
  font-family: inherit;
} 

